.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(155, 221, 222);
    padding: 20px 40px;
    margin-top: auto;
}

.left-links, .right-links {
    display: flex;
    gap: 15px;
}

.center-link .nav-center-item {
    background: none;
    border: none;
    text-decoration: underline;
    color: #555;
}

.center-link .nav-center-item:hover {
    color: #000;
}

.nav-items {
    text-decoration: none;
    color: #444;
    background-color:   rgb(209, 219, 228);
    padding: 8px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid #7a7d81;
    border-radius: 12px;
    transition: background-color 0.2s ease;
}
.nav-items:hover {
    background-color: #d0e1ee;
}